
# directories (by name)

_UpgradeReport_Files/

bin/
lib/

Debug/
DebugMt/
Release/
ReleaseMt/
ReleaseUnix/
UDebug/
UDebugMt/
URelease/
UReleaseMt/

Win32/
x64/

xcshareddata/
xcuserdata/

# directories (by pattern)

# files (by name)

.DS_Store

tools/*/*/*/lnunique
tools/*/*/*/touch

tools/bin
tools/lib

# files (by pattern)

UpgradeLog*.XML

RCa0*
RCb0*

*-201*.log

*~
*.*~
*.aps
*.exe
*.ipch
*.log
*.ncb
*.o
*.obj
*.opt
*.opensdf
*.pch
*.pdb
*.scc
*.sdf
*.suo
*.swp
*.tmp
*.vcproj*.user
*.vcxproj*.user
*.xcuserstate


